/*
	
	GLOBAL

*/

body {
	font-family: 'Lato', sans-serif;
	background: url(../img/pattern.jpg) fixed repeat #de9c27;
	color: #000;
	font-size: 16px;
}

header {
	background: url(../img/header-bg.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
}
.container {
	padding: 0;
}
.inner {
	padding: 40px;
}

a, a:hover {
	color: #000;
	text-decoration: none;
}
a strong {
	color: #de9c27;
}

a.pdf-link {
	color: #000;
	text-decoration: none;
	display: block;
	padding: 8px;
	transition: background 0.5s;
		-o-transition: background 0.5s;
		-webkit-transition: background 0.5s;
		-ms-transition: background 0.5s;
		-moz-transition: background 0.5s;
}
a.pdf-link:hover {
	background: #eeeded;
}

a.pdf-link img {
	margin-right: 10px;
	width: 50px;
	height: 50px;
}


.social-media {
	font-size: 50px;
	margin-right: 8px;
}
.content-panel .inner p {
	font-weight: 300;
}
/*
	
	END: GLOBAL

*/


.fotorama {
	padding: 10px;
	background: #222;
}





/*
	
	HEADER

*/

#logo {
	width: 160px;
	background: #fff;
	padding: 10px;

}

.slogan {
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;

	transition: top 0.5s, left 0.5s, right 0.5s;
		-moz-transition: top 0.5s, left 0.5s, right 0.5s;
		-o-transition: top 0.5s, left 0.5s, right 0.5s;
		-webkit-transition: top 0.5s, left 0.5s, right 0.5s;
		-ms-transition: top 0.5s, left 0.5s, right 0.5s;

	/* background: #fff;
	padding: 10px 40px 10px 10px; */
	color: #fff;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}

.slogan span {
	
	font-style: italic;
}

.corp-id {
	position: absolute;
	bottom: 0px; left: 6px;
	display: block;
	padding: 5px 15px;
	background: #de9c27;
	font-weight: 700;
	font-size: 18px;
	color: #fff;
	margin: 0 0 -15px 0;
	border: 2px solid #fff;
	transition: top 0.5s, left 0.5s, right 0.5s;
		-moz-transition: top 0.5s, left 0.5s, right 0.5s, margin 0.5s;
		-o-transition: top 0.5s, left 0.5s, right 0.5s, margin 0.5s;
		-webkit-transition: top 0.5s, left 0.5s, right 0.5s, margin 0.5s;
		-ms-transition: top 0.5s, left 0.5s, right 0.5s, margin 0.5s;
	z-index: 10;
}

.localization-link {
	position: absolute;
	right: 0px; top: 0px;
	display: block;
	padding: 5px 15px;
	color: #fff;
}

	@media (max-width:768px) {

		.slogan {
			background: #fff;
			top: 170px;
			right: 0; left: 0;
			text-align: center;
			padding: 10px;
			font-size: 14px;
			color: #000;
			text-shadow: none;
		}

		#logo {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
				-moz-transform: translateX(-50%);
				-webkit-transform: translateX(-50%);
				-o-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
			width: 100px;
		}

		header {
			height: 150px;
		}
		.corp-id {
			bottom: 0; 
			left: 0;
			display: block;
			padding: 5px 15px;
			font-size: 12px;
			margin: 0 0 20px 0;
		}
	}


/*

	END: HEADER

*/



.main {
	margin-top: 30px;
}
	@media (max-width:768px) {
		.main {
			margin-top: 60px;
		}
	}

	.col-md-6 { padding: 0; }

.content-panel {
	background: #fff;
	margin-bottom: 20px;
}
	.content-panel.left  { margin-right: 10px; }
	.content-panel.right { margin-left: 10px; }
	.content-panel.gallery { background: #222; }

	@media (max-width:992px) {
		.content-panel.left  { margin-right: 0; }
		.content-panel.right { margin-left: 0; }
	}


.content-panel h2 {
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	font-weight: 300;
	border-bottom: 1px solid #d55928;
}

.content-panel p {
	font-weight: 300;

}
.content-panel.gallery p { color: #fff; }
.content-panel.gallery h2 { color: #fff; border-bottom: none; margin: 0 0 0 20px; padding: 0 0 0 0; }
.content-panel.gallery .inner { padding: 20px; }


.content-panel p.j-i {
	text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
}
.content-panel p.j {
		text-align: justify;
    text-justify: inter-word;
} 

.person { margin-top: 20px; }
.person h3 { font-size: 20px; margin: 0 0 10px 0; }
.indented {
	padding-left: 30px;
	font-weight: 300;
}

.video-overlay {
	position: fixed;
	top: 50%;
	left: 50%;
}


